.Logo {
    height: 80%;
}


@media (max-width: 499px) {

    /* display nothing when at desktop size */
    .DesktopOnly {
        display: none;
    }

    /* Logo changed to the top right */
    .Logo {
        position: absolute;
        right: 0;
        top: 3px;
        margin-right: 10px;
    }
}