.Logo {
    height: 80%;
}


@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }

    .Logo {
        position: absolute;
        right: 0;
        top: 3px;
        margin-right: 10px;
    }
}